.x_banner{
    padding: 95px 0;
    margin: auto;
    width: calc(100% - 30px);
    border-radius: var(--x-border-radius);
    color: var(--x-white-color);
    background: url(../../public/services-image/landing-background.svg);
    background-size: cover;
}
.x_banner_thiet_ke{
    padding: 95px 0;
    margin: auto;
    width: calc(100% - 30px);
    border-radius: var(--x-border-radius);
    background: url(../../public/services-image/landing-background.svg);
    color: var(--x-white-color);
}

.x_project_section{
    padding: 45px 0px;
}
.x_call_to_action_thiet_ke{
    background: black;
    padding: 12px 25px;
    color: white;
    border-radius: 30px;
}
.x_panel_thietke{
    margin-bottom: 15px;
    background: white
}
.x_to_du_an{
    background-color: #3670ee;
    color: white;
    margin: auto;
    display: block;
    padding: 12px 15px;
    border-radius: 50px;
}
.x_thiet_ke_website_section{
    background-color: var(--x-light-color);
}
.x_banner_content{
    text-align: left;
    padding: 0px 15px;
    max-width: 600px;
    margin: auto;
    display: block;
}

.x_hosting{
    margin-bottom: var(--x-bottom-margin);
}
.x_hosting_pricing_list{
    display: flex;
    flex-wrap: wrap;
}
.x_banner_content h3{
    font-size: 18px;
    color: white !important
}

.x_banner_content .x_primary_title{
    color: white !important;
    margin-bottom: 15px;
}

.x_hosting_header{
    padding: 25px 0px;
    margin-bottom: var(--x-bottom-margin);
    border-bottom: 1px solid var(--x-gray-color);
    text-align: center;
}
.x_hosting_features ul{
    list-style: none;
    padding-left: 15px;
}
.x_hosting_features ul li{
    margin-bottom: 15px;
}
.x_hosting_check{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 7px;
    background: var(--x-primary-color);
}
.x_hosting_button{
    background: var(--x-primary-color);
    color: var(--x-white-color);
    padding: var(--x-button-padding);
    display: block;
    margin-top: 15px;
    width: 100%;
}
.x_hosting{
    padding: 15px;
    display: block;
    background-color: var(--x-white-color);
    box-shadow: var(--x-neumorphic-darker-dropdown);
    border: 2px solid #d7d7d7;
}
.x_hosting_table_container{
    margin-bottom: var(--x-bottom-margin);
    padding: 0px 15px
}
.x_hosting_title{
    text-align: center;
    margin-bottom: var(--x-bottom-margin);
}
.x_banner_content h2{
    font-size: var(--x-title-size);
    margin-bottom: 24px;
}
.x_call_to_action{
    border-radius: 35px;
    background: #5388ff;
    border: 2px solid white;
    color: #ffffff;
    padding: 15px 40px;
    font-weight: 600;
    margin-top: 35px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.x_services_container{
    background-color: var(--x-light-color);
    padding: 45px 0px;
}
.x_features_icon{
    margin-right: 5px;
}

.x_features{
    list-style: none;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}
.x_features li{
    display: inline-block;
    margin: 10px 15px 5px 0px;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: var(--x-border-radius);
    transition: var(--x-transition);
    background: #5388ff;
    color: white;
}
.x_services_button{
    padding: 15px 25px;
    border-radius: 35px;
    background-color: var(--x-primary-color);
    color: var(--x-white-color);
}
.x_features li:hover{
    background-color: var(--x-primary-color);
    border-color: var(--x-primary-color);
    color: var(--x-white-color);
}
.x_why_choose{
    background: var(--x-light-color);
    padding: 35px 0px
}

.services_main_title{
    margin-bottom: var(--x-bottom-margin);
}

.x_payment_list{
    margin-top: 12px;
    padding: 0px;
    list-style: none;
}

.x_payment_list li {
    padding: 5px 0px;
}

.x_builer_content h3{
    font-size: 22px;
    color: #F17216 !important;
}

.x_register_button{
    background-color: rgba(255, 105, 141, 1);
    box-shadow: 5px 9px 28px -15px #ff698d;
    border: 2px solid #ff698d;
    color: white;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    padding: 12px 26px;
}

.x_services_content{
    min-height: 350px;
    padding: 30px;
    display: block;
    border-radius: var(--x-border-radius);
    transition: var(--x-transition);
    margin-bottom: var(--x-bottom-margin);
    background: var(--x-light-color);
    box-shadow: var(--x-neumorphic-darker-dropdown);
    border: 2px solid #e3e3e3;
}
h1.x_buider_title{
    font-size: 34px;
    line-height: 1.45;
    font-weight: 600;
    text-align: left;
    color: white !important;
    margin-bottom: 7px;
}
.x_buider_title{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.x_features_page_builder_content,

.x_builer_content{
    margin-bottom: 35px;
}

.x_features_page_builder{
    margin-top: 35px;
}
.x_page_builder{
    padding: 35px 0px 50px 0px;
}

.x_features_page_builder_description h4{
    font-size: 18px;
}

.x_features_page_builder_description p{
    font-size: 14px;
    line-height: 22px;
}

.x_primary_title{
    font-size: var(--x-title-size);
    margin-bottom: var(--x-bottom-margin);
    line-height: var(--x-title-line-height);
}

.webdesign_x_banner .x_section_secondary_title{
    font-size: 18px !important;
    color: white !important
}

.x_section_secondary_title{
    font-size: 16px !important;
    color: #2d88e2 !important;
    font-weight: 400;
    line-height: 24px;
}

.webdesign_x_banner .x_primary_title{
    color: white !important
} 

.x_features_list{
    margin-bottom: 35px;
    list-style: none;
    padding: 0px;
}

.x_wordpress_icon_service{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x_centered{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.x_services_content_main_title{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 1.25rem;
    display: block;
}
.x_why_choose_content{
    text-align: left;
    padding: 0px 15px;
}

.x_supporter{
    text-align: left;
    padding: 0px 15px;
}

.x_services_content_title{
    font-size: 14px;
}

.x_thiet_ke_banner_title_1{
    margin-bottom: 35px;
    border: var(--x-border-radius);
    padding: 35px 0px;
}
.x_thiet_ke_banner_title_2{
    margin-bottom: 35px;
    border: var(--x-border-radius);
    padding: 35px 0px;
}
.x_thiet_ke_banner_title_3{
    margin-bottom: 35px;
    border: var(--x-border-radius);
    padding: 35px 0px;
}
.x_thiet_ke_banner_title_4{
    margin-bottom: 35px;
    border: var(--x-border-radius);
    padding: 35px 0px;
}

.x_why_choose_box_content{
    box-shadow: var(--x-neumorphic-darker-dropdown);
    border-radius: var(--x-border-radius);
    padding: 15px;
    margin-bottom: var(--x-bottom-margin);
}

.x_why_choose_box_content .x_features_icon{
    background-color: var(--x-success-color);
    border-radius: 50%;
    color: white;
}

.x_why_choose_box_content h4{
    font-size: 16px;
}