.x_wellcome_title{
  color: #000;
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.3rem;
}
.x_highlight{
  color: #1071ff;
}
.x_wellcome_title{
  padding-bottom: 1.5rem;
}
.x_filter_option{
  align-items: center;
  background: #f6f8fb;
  border-radius: 30px;
  color: #000;
  display: inline-flex;
  font-size: .95rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.5;
  padding: 0.45rem 1.5rem;
  transition: background .1s linear;
}
.x_comment_author_comment{
  display: flex;
  column-gap: 15px;
  padding: 0px 0px 9px 11px;
}
.x_comment_list{
  margin-bottom: 25px;
}
.x_comment_date{
  color: #676767;
  margin-left: 5px;
  display: inline-block;
  width: auto;
  font-size: 10px;
}
.x_comment_author_comment h5{
  font-size: 14px;
}
.x_comment_author_comment p{
  font-size: 12px;
}
.x_comment_replies{
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 10px;
}
.x_comment_header{
  border-bottom: 1px solid #e5e5ea;
  background: white;
  align-items: center;
}
.x_comment_content{
  padding: 15px;
  font-weight: 300;
  font-size: 16px;
}

.x_custom_button_group button {
  background: #ffffff;
  color: rgb(56, 56, 56);
  border-radius: 0px;
}

.x_filter_option:hover{
  background-color: #1071ff;
  color: white;
}

.x_meta_with_form{
  border-bottom: 2px solid #f6f8fb;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.x_comment_form{
  background: white;
  padding: 15px;
  margin-bottom: 15px;
}

.x_comment_form_button{
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: #1071ff;
  color: white;
}
.x_comment_form_title{
  font-size: 18px;
  margin-bottom: 15px;
}
.x_category_link{
  list-style: none;
  padding: 0; 
}
.x_category_link li{
  display: inline-block;
  margin: .5rem .8rem 0.5rem 0rem;
}

.x_form_search_posts{
  width: 100%;
}

.x_form_search_posts input{
  padding: .55rem 0rem .55rem 1rem;
  border-radius: 30px;
  width: 100% !important;
}

.x_form_search_group{
  position: relative;

}

.x_search_posts_button{
  background: none;
  border: none;
  position: absolute;
  top: 4px;
  right: 7px;
  z-index: 2;
}
.x_newsSection{
  padding: 35px 0px;
}
.x_search_posts_button svg{
  transition: all .3s ease-in-out;
}

.x_search_posts_button:hover svg{
  fill: #1071ff;
  transition: all .3s ease-in-out;
}

.x_flex_news{
  display: flex;
  flex-wrap: wrap;
}
.x_blog_one_title{
  font-size: 1.8rem;
  line-height: 1.15;
  margin-bottom: .55rem;
  color: #000;
}
.x_blog_one_thumbnail{
  display: block;
  overflow: hidden;
  height: 420px;
}

.x_blog_thumbnail_meta{
  position: relative;
  margin-bottom: 25px;
}

.x_single_post_data{
  list-style: none;
  padding: 0px;
  border-bottom: 1px solid #c9c9c9;
}

.x_single_post_data li{
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.x_pagination{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 35px 0px;
  padding: 0.25rem;
}
.x_avatar{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: block;
  box-shadow: 5px 5px 10px #ededed, -5px -5px 10px #ffffff;
}
.x_blog_two_thumbnail{
  display: block;
}
.x_blog_two_thumbnail span{
  width: 100% !important;
}
.x_blog_two_thumbnail img{
  width: 100% !important;
  height: auto !important;
}
.x_blog_one_section{
  margin-bottom: 2rem;
  background: white;
  border: 1px solid var(--x-border-color);
  border-radius: 20px;
  overflow: hidden;
}
.x_blog_one_content{
   padding: 1.25rem 1.2rem
}
.x_blog_one_description{
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 25px;
}
.x_control_comments{
  text-align: right;
}
.x_blog_one_button{
  background: var(--x-primary-color);
  border-radius: 35px;
  padding: .75rem 30px ;
  color: white;
}

.x_blog_terms_list{
  padding: 0;
  margin: 0;
}
.x_blog_terms_list li{
  display: inline-block;
  margin: 0rem .25rem .25rem 0rem;
}
.x_blog_terms_list a{
  background: #2d88e2;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  display: inline-block;
  font-size: 8px;
}

.x_blog_two_content{
  padding: 1.25rem 1.25rem
}

.x_blog_two_section{
  display: block;
  background: white;
  border: 1px solid var(--x-border-color);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1.75rem;
}
.x_padding_posts{
  padding: .95rem;
  display: block;
}
.x_blog_two_title{
  color: var(--x-secondary-color);
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.15rem;
  margin-bottom: .55rem;
  display: block;
  height: 26px;
  overflow: hidden;
}

.x_blog_two_description{
  font-size: 14px;
  margin-bottom: 1.25rem;
}

.x_blog_two_link_icon{
  transform: rotate(-180deg);
  display: inline-flex;
  align-items: center;
  margin-left: .35rem;
  transition: all .3s ease-in-out;
}

.x_blog_two_link{
  font-size: .85rem;
  align-items: center;
  font-weight: bold;
  color: #000;
  padding-left: 10px;
  display: inline-block;
}
.x_blog_two_link:hover .x_blog_two_link_icon{
  transform: rotate(-180deg) translateX(-.25rem);
}
.x_post_title{
  font-size: 24px;
  padding: 10px 0px;
  margin: 0px;
  line-height: 32px;
}

.x_container_x{
  background-color: var(--x-light-color);
}

.x_single_blog_thumbnail img{
  overflow: hidden;
  display: block;
  width: 100%;
  max-height: unset !important;
  height: auto !important;
}

.x_single_blog_thumbnail span{
  min-width: 100% !important;
}
.x_blog_content{
  margin-bottom: 35px;
  max-width: 992px;
  margin: auto;
}
.x_related_title{
  font-size: 22px;
  text-align: center;
  margin-bottom: 35px;
}
.x_social_group{
  list-style: none;
  padding: 0;
  display: flex;
  column-gap: 10px;
  margin: 0px;
}

.x_sharing{
  padding: 15px;
  background: white;
  border-bottom: 2px solid #2d88e2;
  margin: 15px 0px;
}
.x_sharing strong{
  margin-bottom: 10px;
  display: block;
}

.x_social_group li {
  margin-bottom: 8px;
}

.x_single_content h1{
  font-size: 32px;
  line-height: 48px;
}
.x_padding{
  padding: 0px 15px;
}
.x_single_content h2{
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 5px;
  font-weight: 900;
}
.x_single_content h3{
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.x_single_content h4{
  font-size: 18px;
  margin-bottom: 5px;
}

.x_single_content h5{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5px;
}


.x_single_content p {
  margin-bottom: 5px;
}
.x_single_content{
  font-size: 18px;
  line-height: 1.756;
}
.x_single_content img{
  margin: 15px 0px;
}
.x_single_content *{
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px){
  .x_blog_thumbnail_meta h1{
    color: white !important;
  }
  .x_blog_thumbnail_meta ul{
    border: unset;
    margin: 0px;
  }
  .x_blog_thumbnail_meta ul li{
    color: white !important;
  }
  
  .x_blog_thumbnail_meta .x_single_blog_meta{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    padding: 20px;
    background: linear-gradient(0deg, black, transparent);
  }
  
  .x_blog_meta_content{
    max-width: 992px;
    margin: auto;
  }
}