.x_dashboard_container{
    background-color: #fdfdfd;
}
.x_dashboard_sidenav{
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    font-weight: 600;
}
.x_dashboard_sidenav_content {
    height: 100%;
}
.x_dashboard_content {
    background-color: #fff;
    width: auto;
    height: 300%;
    margin-left: 300px;
    padding: 35px;
}