@media (max-width: 992px){
    .x_dropdown_x3_menu{
        width: 100% !important;
    }
    .mainMenuContainer{
        display: none !important;
    }
    .x_destop_display{
        display: none !important;
    }
    .x_mobile_display{
        display: block !important;
    }
    .x_top_header_brand{
        display: none;
    }
}
.x_mobile_display{
    display: none;
}
.headerMenu{
    width: 100%;
    padding: 15px 0px;
    position: relative;
    z-index: 5;
    transition: var(--x-transition);
}
.mainMenuContainer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x_header_button_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.x_flex_end{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.mainMenuContainer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-bottom: 0px;
}
.mainMenuContainer ul li{
    display: block;
    padding: 10px 8px;
    cursor: pointer;
}
.x_search_button{
    position: absolute;
    left: 10px;
    top: 6px;
}
.x_searchController{
    position: relative;
    width: 100%;
}
.x_search_button_container{
    position: relative;
}
.x_searchForm:focus{
    border: unset;
}
.x_searchForm{
    border: unset;
    outline: none;
    width: 100%;
    height: 48px;
    padding-left: 55px;

}
.x_searchButton{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    background-color: unset;
}
.x_searchHeader{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.x_searchHeader_devide{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #f7f7f7;
}
.x_search_result{
    width: 100%;
    padding: .25rem;
    transition: all .45s ease-in-out;
    display: block;
    background: var(--x-light-color);
}
.x_search_result_showing{
    max-height: 999px;
    transition: all .45s ease-in-out;
}
.x_search_result_hidden{
    max-height: 0px;
    pointer-events: none;
    transition: all .45s ease-in-out;
}
.x_search_quest_title{
    margin: 2rem 0rem;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    width: 100%;
    display: block;
}
.x_close_button{
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
  }
.x_search_modal{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 100px;
    background: rgba(235, 235, 235, 0.85);
}
.x_search_section{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 640px;
    border-radius: 0.35rem;
    overflow: hidden;
    background: var(--x-white-color);;
    box-shadow: 0px 30px 25px -2px rgb(0 0 0 / 4%);
}
.x_dropdownMenu {
    position: relative;
    width: 100%;
    top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0px;
}
.x_header_section{
    position: relative;
    z-index: 20;
}
.x_dropdown_x3_menu{
    width: 46%;
    margin-right: 1%;
    display: block;
}

.x_dropdownMenu a {
    text-decoration: none;
    color: #111;
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 0px;
}  
.x_dropbox{
    position: relative;
}
.x_dropbox:before {
    content: "";
    background: rgb(255, 255, 255);
    border: 1px solid #e0e6e8;
    width: calc(100% + 10px);
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 5px;
    transform: scale(1.01) translateX(-10px);
    transition: all .1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    opacity: 0;
    z-index: -1;
    top: 0;
    left: -10px;
}
.x_menuItem{
    position: relative;
    z-index: 1;
}
.x_dropbox:hover:before {
    transition: all .3s ease-in-out;
    transform: scale(1) translateX(0px);
    opacity: 1;
}

.x_brand{
    padding: 0px;
}

.mainMenuContainer ul li a {
    font-weight: 400;
    font-size: 15px;
    color: #000;
    margin-right: 6px;
    display: block;
    transition: all .3s ease-in-out;
}

.mainMenuContainer ul li a:hover {
    color: #2d88e2;
    transition: all .3s ease-in-out;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: lightblue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-gap: 25px;
    padding: 25px;
    background: #ededf2;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    will-change: width, height;
  }
  .x_search_result_loading{
      opacity: .5;
      pointer-events: none;
  }
  .item {
    width: 100%;
    height: 100px;
    background: var(--x-white-color);;
    border-radius: 5px;
    will-change: transform, opacity;
  }
  .x_smaller_text{
      font-size: 12px;
  }
  .x_search_footer{
      padding-top: .5rem
  }
  .arrow{
    width: 22px;
    height: 22px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .animationHeader{
      position: relative;
      z-index: 1;
  }
  .animationHeaderNone{
     pointer-events: none;
     position: relative;
     z-index: 1;
   }
  .x_iconImage{
     margin-right: 10px;
  }
  .x_dropdown_inner_shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 10;
    height: 200px;
    background-image: linear-gradient(180deg,rgb(36 50 66 / 34%),transparent 30%);
    box-shadow: 0 3px 185px 0 rgb(0 0 0 / 8%);
    pointer-events: none;
}
.x_menu_title{
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e6e8;
    color: #9f9f9f;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.x_account_name{
    max-width: 65px;
    border-left: 1px solid #499cef;
    border-right: 1px solid #499cef;
    padding: 0px 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    overflow: hidden;
}
.x_iconLink{
    flex-wrap: wrap;
    display: flex !important;
    align-items: center;
}
.x_menu_container{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
}

.x_dropdown_bg_menu{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 96px;
    width: 100%;
    height: 100%;
}

.x_dropdown_bg_full{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 35px 35px 50px 0 rgb(36 50 66 / 15%);
}
.x_button_website_create{
    border: 1px solid rgb(151, 151, 151);
    margin-bottom: 7px;
    margin-right: 7px;
}
.x_button_website_doanh_nghiep{
    background: var(--x-primary-color); 
    color: white;
    border: none;
    margin-bottom: 7px;
}
.x_button_inline{
    display: inline-block !important;
    width: auto !important;
}
.x_top_header{
    background: var( --x-primary-color );
    color: var(--x-white-color);
    font-size: 85%;
    padding: .25rem 0rem;
    position: relative;
    z-index: 99;
}
.x_top_header_menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.x_flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.x_top_header_menu li{
    padding: .25rem .75rem;
    display: flex;
    align-items: center;
}
.x_top_header_menu li a{
    color: var(--x-white-color);
    display: flex;
    align-items: center;
    column-gap: 7px;
}
.x_pagination{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0.25rem;
}

.x_fixed{
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}

.x_fixed .headerMenu{
    padding-top: 0px;
    padding-bottom: 0px;
}

.x_fixed .x_brand{
    width: 100px;
}
.x_fixed .x_header{
    background-color: var(--x-white-color);;
    color: var(--x-white-color);;
    box-shadow: 0px 0px 30px -20px black;
}
.x_header{
    position: relative;
    z-index: 2;
    background-color: var(--x-white-color);
}

.x_loading_container{
    height: 200px;
    position: relative;
}
.x_search_result_thumbnail{
    display: block;
    width: 100px;
}
.x_search_result_thumbnail img{
    border-radius: 5px;
}
.x_search_result_content{
    display: block;
    width: calc(100% - 100px);
    padding-left: 15px;
}
.x_search_result_post{
    margin-bottom: .75rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    padding: .85rem 0rem;
    cursor: pointer;
}
.x_search_result_title{
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: .25rem;
    color: #333333;
}

.x_search_result_excerpt{
    font-size: 12px;
    font-weight: 300;
}

.x_search_result_section{
    padding: .25rem 1.25rem;
    max-height: 400px;
    overflow-y: scroll;
}

/* width */
.x_search_result_section::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .x_search_result_section::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .x_search_result_section::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
  }
  
  /* Handle on hover */
  .x_search_result_section::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .hamburger {
    padding: 10px 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-bottom: -7px;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is_active:hover {
      opacity: 0.7; }
    .hamburger.is_active .hamburger_inner,
    .hamburger.is_active .hamburger_inner::before,
    .hamburger.is_active .hamburger_inner::after {
      background-color: #000; }
  
  .hamburger_box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger_inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger_inner, .hamburger_inner::before, .hamburger_inner::after {
      width: 30px;
      height: 3px;
      background-color: rgb(94 94 94);
      border-radius: 6px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger_inner::before, .hamburger_inner::after {
      content: "";
      display: block; }
    .hamburger_inner::before {
      top: -10px; }
    .hamburger_inner::after {
      bottom: -10px; }

      /*
   * Spin
   */
.hamburger__spin .hamburger_inner {
transition-duration: 0.22s;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger__spin .hamburger_inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
.hamburger__spin .hamburger_inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.is_active .hamburger_inner {
transform: rotate(225deg);
transition-delay: 0.12s;
transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger__spin.is_active .hamburger_inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
.hamburger__spin.is_active .hamburger_inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  
    .x_mobile_menu{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        z-index: 9999;
        transition: all .3s ease-in-out;
        max-width: 320px;
        background: rgb(255 255 255 / 85%);
        backdrop-filter: blur(10px);
        overflow-y: scroll;
        padding-top: 10px;
    }
    .x_backdrop_mobile{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.35);
        opacity: 0;
        pointer-events: none;
        transition: var(--x-transition);
        z-index: 9998;
    }
    .x_backdrop_mobile_showing{
        opacity: 1;
        pointer-events: all;
        transition: var(--x-transition);
    }
    .x_backdrop_mobile_closing{
        position: absolute;
        top: 50%;
        right: 10px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        color: white;
        background: black;
        border-radius: 15px;
        padding: 0px 5px;
        cursor: pointer;
    }
    .x_mobile_menu.x_showing_mobile{
        transform: translateX(0%);
    }
    .x_mobile_menu a{
        color: #333;
    }
    .x_mobile_menu::-webkit-scrollbar {
        width: 10px;
      }
      .x_mobile_menu_list{
          list-style: none;
          padding: 0rem 1rem
      }
      .x_mobile_menu_list > li{
          padding: .25rem 0rem;
      }
      .x_mobile_menu_list > li > a{
         text-transform: uppercase;
         font-weight: bold;
     }
      .x_mobile_menu_list > li{
            padding: .55rem 0rem;
            border-bottom: 1px solid rgb(245 245 245)
      }
      .x_mobile_dropdown_title{
          margin-bottom: .35rem;
          text-transform: uppercase;
          font-weight: bold;
          display: block;
      }
      /* Track */
      .x_mobile_menu::-webkit-scrollbar-track {
        background: #f1f1f1; 
        width: 4px;
      }
      /* Handle */
      .x_mobile_menu::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 6px;
        width: 4px;
      }
      
      /* Handle on hover */
      .x_mobile_menu::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
      .x_mobile_services{
         display: block;
      }
      .x_mobile_services .x_dropbox{
        padding: .35rem 0rem;
        display: block;
      }
      .x_non_background_button{
          background: unset !important;
          color: #333 !important
      }

      @media (max-width: 640px){
        .x_search_section{
            max-width: 90%;
        }
      }