.x_section{
  padding: var(--x-section-padding);
  position: relative;
}
.container {
    padding: 0rem;
  }
  
  .main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--x-light-color);
    padding: var(--x-section-padding);
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4.25rem;
  }
  
  .title,
  .description {
    text-align: left;
  }
  
  .description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: var(--x-title-line-height);
    font-weight: 400;
  }
  .x_seperator{
    display: block;
    position: relative;
    z-index: 2;
    height: 1px;
    width: 100%;
    background: var(--x-light-color);
  }
  .x_services_box{
    display: block;
    height: 270px;
    min-height: 240px;
    padding: 24px 32px;
    border-radius: 20px;
    color: var(--x-black-color);
    transition: var(--x-transition);
    margin-bottom: var(--x-bottom-margin);
    background: var(--x-neumorphic-color);
    box-shadow: var(--x-neumorphic-dropdown);
  }
  .x_services_box:hover{
    background: var(--x-white-color);
    box-shadow: var(--x-neumorphic-darker-dropdown);
    transition: var(--x-transition);
  }

  .x_service_icon{
    margin: auto;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    width: 100px;
  }

  .x_slider{
    height: 300px;
    background: wheat;
    display: block;
  }
  .x_black_button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: var(--x-button-padding);
    color: var(--x-white-color);
    background: var(--x-primary-color);
    transition: var(--x-transition);
  }
  .x_black_button:hover{
    background: var(--x-primary-color) !important;
    color: var(--x-white-color) !important;
    transition: var(--x-transition) !important;
  }
  .x_about_description{
    margin-bottom: var(--x-bottom-margin);
    display: block;
  }
  .x_decoation_0{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 15%;
    max-width: 35%;
    pointer-events: none;
  }
  .lBox_1{
    pointer-events: none;
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 39px;
    opacity: .95;
  }
  .bannerImage{
    height: 460px;
  }
  .x_rotate_180deg{
    transform: rotate(180deg);
  }
  .x_creeper_button{
    border-radius: var(--x-border-radius);
    padding: 5px 25px;
    border: 2px solid #ffffff;
    background: unset
  }
  .x_title{
    text-align: center;
    margin: 1rem 0rem 3.5rem 0rem;
    font-size: var(--x-title-size);
  }
  .x_title_no_margin{
    font-size: var(--x-title-size);
    line-height: var(--x-title-line-height);
    text-align: center;
  }
  .x_title_no_margin_left{
    font-size: var(--x-title-size);
    line-height: var(--x-title-line-height);
  }
  .x_services_box_title, .x_features_box_title{
    font-size: var(--x-title-box-size);
    line-height: var(--x-title-line-height);
    margin-bottom: 12px;
    color: #469aee;
  }
  
  .x_decoration_images{
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .x_decoation_1{
    position: absolute;
    right: 0;
    top: 0%;
    z-index: -1;
    max-width: 46%;
    animation: jumpTwo 3s linear infinite;
    animation-delay: .1;
    pointer-events: none;
  }
  .x_creeper_box{
    display: -ms-flexbox;
    display: flex;
    min-height: 240px;
    min-width: 240px;
    padding-top: 64px;
    padding-right: 72px;
    padding-left: 72px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    transition: box-shadow .2s;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    margin-bottom: 2.3rem;
    border-radius: var(--x-border-radius);
    background: var(--x-white-color);
  }
  .x_creeper_box_1{
    padding-bottom: 340px;
    background-color: var(--x-primary-color);
  }
  .x_creeper_box_2{
    padding-bottom: 210px;
    background: var(--x-accent-color);
  }
  .x_creeper_box_3{
    padding-bottom: 210px;
    background: var(--x-greenlight-color);
  }
  .x_creeper_box_4{
    padding-bottom: 340px;
    background: var(--x-pupple-color);
  }
  .x_features_box{
    min-height: 250px;
    padding: 24px 32px;
    background: var(--x-white-color);
    border-radius: var(--x-border-radius);
    transition: var(--x-transition);
    margin-bottom: var(--x-bottom-margin);
    color: #353535;
    display: block;
  }
  .x_creeper_box:hover{
    box-shadow: var(--x-neumorphic-darker-dropdown);
    opacity: 1;
  }
  .x_creeper_image_1{
    position: absolute;
    bottom: -5px;
    right: 0px;
    width: auto;
    pointer-events: none;
    display: block;
    z-index: 0;
    width: 80%;
  }

  .x_creeper_image_2{
    position: absolute;
    bottom: -5px;
    right: 10%;
    width: 70%;
    pointer-events: none;
    z-index: 0;
  }
  .x_creeper_image_3{
    position: absolute;
    bottom: -5px;
    right: 0px;
    width: 60%;
    pointer-events: none;
  }
  .x_creeper_image_4{
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 60%;
    z-index: 0;
  }
  .x_padding_cta{
    padding: 0rem 1.15rem;
  }
  .x_creeper_title{
    font-weight: bold;
    letter-spacing: -.6px;
    line-height: var(--x-title-line-height);
    font-size: var(--x-title-size);
    color: var(--x-white-color);
    margin-bottom: 14px;
  }
  .x_creeper_box_section{
    position: relative;
    z-index: 2;
  }
  .x_creeper_content{
    letter-spacing: -.5px;
    font-weight: 400;
    position: relative;
    font-size: var(--x-banner-content-size);
    line-height: var(--x-banner-content-height);
    margin-bottom: var(--x-bottom-margin);
    color: var(--x-white-color);
  }
  
  @media (max-width: 768px) {
    .x_order_2{
      order: 2
    }
    .x_order_1{
      order: 1
    }
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .title {
      margin: 0;
      margin-top: 1rem;
      line-height: var(--x-title-line-height);
      font-size: var(--x-title-size);
    }
    .x_section_one{
      padding: 25px 0px 50px 0px;
    }
    .x_decoration_images{
      width: 60%;
      margin: auto;
    }
    .x_services_box{
      margin: auto;
      margin-bottom: var(--x-bottom-margin);
    }
    .x_creeper_box{
      margin: auto;
      margin-bottom: var(--x-bottom-margin);
      padding-left: 20px;
      padding-right: 20px;
    }
    .x_creeper_box_1{
      padding-bottom: 90px;
      background-color: #378cf1;
    }
    .x_creeper_box_2{
      padding-bottom: 90px;
      background: #616cf0;
    }
    .x_creeper_box_3{
      padding-bottom: 90px;
      background: #24cbc6;
    }
    .x_creeper_box_4{
      padding-bottom: 90px;
      background: #909cff;
    }
    .x_creeper_image_1{
      position: absolute;
      bottom: -5px;
      right: 0px;
      width: auto;
      pointer-events: none;
      display: block;
      z-index: 0;
      width: 70%;
    }
  
    .x_creeper_image_2{
      position: absolute;
      bottom: -5px;
      left: unset;
      right: 10px;
      width: 60%;
      pointer-events: none;
      z-index: 0;
    }
    .x_creeper_image_3{
      position: absolute;
      bottom: -5px;
      right: 0px;
      width: 60%;
      pointer-events: none;
    }
    .x_creeper_image_4{
      position: absolute;
      right: 0px;
      bottom: 10px;
      width: 60%;
      z-index: 0;
    }
    .x_features_box{
      margin: auto;
      margin-bottom: var(--x-bottom-margin);
    }
    .lBox_1{
      display: none;
    }
    .x_title_no_margin_left{
      text-align: left;
      font-size: 30px;
    }
  }