.x_hero_banner{
  position: relative;
  padding: 95px 0px;
  overflow: hidden;
  background: url('../public/home/bg-hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.x_banner_deccoration{
  position: relative;
}
.x_happy_business{
  display: block;
}
.x_partner{
  padding: 35px 0px
}

.x_partner_icon{
  transition: var(--x-transition);
  filter: grayscale(.8);
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  margin: 25px 0px;
}

.x_partner_icon:hover{
  transition: var(--x-transition);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  filter: grayscale(0);

}

.x_decoration_rating{
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 200px;
}

.x_hero_title{
  margin-bottom: 22px;
  color: var(--x-heading-color);
}
.x_wrapper_text{
  color: #5a3dfa;
  margin-left: 4px;
}
.x_hero_banner_feature{
  list-style: none;
  padding: 0px;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
}
.x_ViewAll_button{
  padding: 14px 25px;
  background-color: #05b1f3;
  box-shadow: 5px 9px 28px -15px #05b1f3;
  color: white !important;
  border-radius: 35px;
  font-weight: bold;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}

.x_focused_button{
  padding: 14px 25px;
  background-color: rgba(255, 105, 141, 1);
  box-shadow: 5px 9px 28px -15px #ff698d;
  color: white;
  border-radius: 35px;
  font-weight: bold;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}

.x_nonFocused_button {
  padding: 14px 25px;
  background: unset;
  background: #272f51;
  font-weight: bold;
  color: white;
  border-radius: 35px;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}

.x_our_service {
  padding: 55px 0px
}
.x_main_box_secondary{
  color: #F17216 !important;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.x_main_box_primary{
  color: var(--x-heading-color);
  font-size: 28px;
  line-height: 36px;
}

.x_hightlight_badge{
  border: 2px solid #27ae60;
  color: #27ae60;
  padding: 11px 20px;
  display: inline-block;
  margin: 6px 0px;
  border-radius: 0.55rem;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
}
.x_main_box_description{
  font-size: 18px;
}

.x_secondary_box_title {
  color: var(--x-heading-color);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.x_features_box .x_main_box_primary{
  color: rgb(236, 236, 236) !important;
}
.x_secondary_box{
  padding: 24px 26px;
  border-radius: 20px;
  color: var(--x-black-color);
  transition: var(--x-transition);
  margin-bottom: var(--x-bottom-margin);
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border: 2px solid #e7e7e7;
}

.x_secondary_box_description{
  color: rgba(116, 117, 130, 1);
}

.x_vector{
  float: right;
}

.x_features{
  padding: 85px 0px;
  padding-bottom: 115px;
  background: url('../public/home/bg-hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #282C4B;
}
.x_features_icon_list{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 22px;
}

.x_features_icon_list li p{
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  column-gap: 6px;
  color: rgb(236, 236, 236);
}

.x_themes_section {
  padding: 55px 0px
}

.x_themes_banner{
  padding: 50px 40px;
  transition: var(--x-transition);
  margin-bottom: var(--x-bottom-margin);
  text-align: right;
  border-radius: 24px;
  height: 429px;
  display: flex;
  align-items: center;
}

.x_badge_theme{
  display: block;
  color: #3082ed;
  margin-top: 5px;
}

.x_themes_content{
  margin-bottom: 55px;
  text-align: center;
}

.x_testionimal {
  padding: 55px 0px;
  background: url('/home/Testimonials.svg');
  background-size: 240;
  background-position: top right;
  background-repeat: no-repeat;
}

.x_qoute{
  display: block;
}
.x_themes_testionimal{
  text-align: center;
}
.x_testionimal_thumbnail{
  width: 444px;
  height: 294px;
  margin: auto;
  background: url('/home/screen-desktop.svg');
  background-size: cover;
  padding: 12px;
  position: relative;
  margin-bottom: 35px;
}
.x_testionimal_container{
  padding: 85px 0px;
  position: relative;
  background-color: white;
}
.x_testionimal_thumbnail:after{
  content: "";
  width: 555px;
  height: 15px;
  display: block;
  margin: auto;
  overflow: hidden;
  background: url('/home/bottom-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.x_testionimal_content{
  background-color: rgb(255 255 255 / 85%);
  border: 2px solid white;
  padding: 24px 26px;
  border-radius: 20px;
  color: var(--x-black-color);
  transition: var(--x-transition);
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  margin: 0px 14px;
}
.x_form_contact{
  margin-top: 20px;
}
.x_testionimal_title {
  font-size: 24px;
  color: #282c4b;
}

.x_testionimal_description{
  font-size: 16px;
  color: #898989;
}

.x_form_contact_section{
  padding: 55px 0px;
}

.x_blog_home{
  padding: 55px 0px
}

.x_blog_home_content {
  text-align: center;
}

@media (max-width: 768px){
  .x_hero_title {
    font-size: 28px;
    line-height: 38px;
  }
  .x_focused_button, 
  .x_ViewAll_button,
  .x_nonFocused_button {
    padding: 12px 20px;
    font-size: 12px;
    margin-bottom: 15px;
  }
  
  .x_testionimal {
    padding: 35px 0px;
    background: white;
    background-size: 240;
    background-position: top right;
    background-repeat: no-repeat;
  }
  .x_themes_banner{
    padding: 35px 35px;
    transition: var(--x-transition);
    margin-bottom: var(--x-bottom-margin);
    text-align: right;
    border-radius: 24px;
    height: 260px;
    display: flex;
    align-items: center;
    background: whitesmoke;
    box-shadow: 5px 9px 28px -15px #858585;
  }
  .x_testionimal_thumbnail {
      width: 363px;
      height: 243px;
      margin: auto;
      background: url('/home/screen-desktop.svg');
      background-size: cover;
      padding: 12px;
      position: relative;
      margin-bottom: 50px;
  }
  .x_testionimal_thumbnail:after {
      content: "";
      width: 430px;
      height: 12px;
      display: block;
      margin: auto;
      overflow: hidden;
      background: url(/home/bottom-desktop.svg);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
  }
  .x_vector {
      float: left;
  }
  .x_banner_deccoration, 
  .x_features_image {
      max-width: 80%;
      margin: auto;
  }
  .x_banner_deccoration {
    margin-top: 35px;
  }
  .x_testionimal_content{
      padding: 24px 22px;
      border-radius: 20px;
      color: var(--x-black-color);
      transition: var(--x-transition);
      box-shadow: unset;
      background: whitesmoke;
      margin: 0px 26px;
  }
  .x_hero_banner{
      position: relative;
      padding: 35px 0px !important;
  }
  .x_hero_banner_feature{
    list-style: none;
    padding: 0px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px
  }
  .x_main_box_primary{
    font-size: 24px !important;
    line-height: 36px;
  }
}