
.x_wellcome_title{
  color: #0c0c0c;
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.3rem;
}
.x_highlight{
  color: #1071ff;
}
.x_breadcumb{
  padding: 1.25rem 0rem;
}
.x_wellcome_title{
  padding: 1.5rem 0rem;
}
.x_filter_option{
  align-items: center;
  background: #f6f8fb;
  border-radius: 30px;
  color: #434447;
  display: inline-flex;
  font-size: .8rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.5;
  padding: 0.45rem 1.5rem;
  transition: background .1s linear;
}

.x_filter_option:hover{
  background-color: #1071ff;
  color: white;
}
.x_meta_with_form{
  border-bottom: 2px solid #f6f8fb;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.x_category_link{
  list-style: none;
  padding: 0;
}
.x_category_link li{
  display: inline-block;
  margin: .5rem .8rem 0.5rem 0rem;
}

.x_form_search_posts{
  width: 100%;
}

.x_form_search_posts input{
  padding: .55rem 0rem .55rem 1rem;
  border-radius: 30px;
  width: 100% !important;
}

.x_form_search_group{
  position: relative;

}

.x_search_posts_button{
  background: none;
  border: none;
  position: absolute;
  top: 4px;
  right: 7px;
  z-index: 2;
}

.x_search_posts_button svg{
  transition: all .3s ease-in-out;
}

.x_search_posts_button:hover svg{
  fill: #1071ff;
  transition: all .3s ease-in-out;
}