.x_404_image{
    margin: auto;
    display: block;
    max-width: 500px;
}
.x_404_section{
    padding: 55px 0px;
    padding-bottom: 95px;
    text-align: center;
}
.x_contact_form_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--x-primary-color);
    column-gap: 10px;
    padding: .75rem 1.25rem;
    border-radius: 35px;
    color: white
}
.x_recruiment_section{
    padding: 35px 0px;
    background: #f7f7f7
}
.x_input_margin{
    margin-bottom: 18px;
}

.x_submit_service_form{
    padding: 15px;
}
.x_recruiment_button{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 12px 15px
}
.x_background{
    position: fixed;
    top: 0;
    left: 0%;
    width: 50vw;
    height: 100vh;
    background: url('../public/layout/background-01.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.x_webite_manager_section{
    display: block;
    padding: 150px 0px;
    color: #ffffff;
    background-position: right bottom;
    border-radius: 20px;
    width: calc(100% - 20px);
    margin: auto;
    margin-bottom: 35px;
    z-index: 1;
    background: #4794e1;
}
.x_section{
    padding: 35px 0px;
}
.x_position_relative{
    position: relative;
}
.x_website_manager_decoration_1{
    position: absolute;
    bottom: -60px;
    z-index: 0;
    filter: blur(10px);
}
.x_contact_container{
    background: #f7f7f7;
    padding: 35px 0px
}
.x_padding{
    padding: 0px 15px;
}
.x_contact_grid_container{
    width: 100% !important;
    position: relative;
}
.x_contact_grid_container img{
    width: 100%;
}

.x_form_wrapper{
    height: 100%;
    padding: 35px 35px;
    position: relative;
    z-index: 2;
    width: 100%;
}
.x_recruiment_form{
    padding: 35px;
    border-radius: 20px;
    background: white
}
.x_back_home{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    padding: .75rem 1.25rem;
    background: black;
    color: white;
    border-radius: .35rem;
    z-index: 15;
}
.x_content_map{
    box-shadow: 5px 5px 10px #ededed, -5px -5px 10px #ffffff;
    border-radius: 20px;
    overflow: hidden;
}
.x_footer_address_list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}
.x_contact_list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.x_contact_list strong{
    font-size: 16px;
}
.x_contact_list > div{
    width: calc(100% - 110px);
    margin-left: 20px;
}
.x_footer_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    background: linear-gradient(145deg, #dedede, #ffffff);
    box-shadow: 5px 5px 10px #ededed, -5px -5px 10px #ffffff;
}
.x_recruiment_title{
    font-size: 22px;
}
.x_margin_bottom{
    margin-bottom: 35px;
    display: block;
}
.x_service_list_title{
    font-size: 18px;
    margin-bottom: 15px;
}
.x_dropbox{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--x-border-color);
}
.x_iconLink{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--x-title-color);
}
.x_iconImage{
    width: 24px !important;
    max-width: 24px !important;
}
.x_service_form_group{
    margin-bottom: 14px;
}
@media ( max-width: 768px ){

}