.x_form_search_posts{
    width: 100%;
  }
  
  .x_form_search_posts input{
    padding-right: 1rem;
    width: 100% !important;
  }
  
  .x_form_search_group{
    position: relative;
  }
  .x_pagination{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .x_fillter_button{
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
}
  .x_breadcumb{
    padding: 15px 0px
  }
  .x_count{
    float: right;
    color: #767676;
    font-size: 12px;
  }
  .x_SortByJobs{
    max-height: 500px;
    overflow-y: scroll;
    padding: 15px;
  }
  .x_filter_danh_muc > div{
    background-color: unset;
    padding: 8px 15px 8px 24px;
    box-shadow: unset;
  }
  .x_filter_danh_muc{
    box-shadow: none;
  }
  /* width */
  .x_SortByJobs::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.x_SortByJobs::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
.x_SortByJobs::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182); 
  border-radius: 10px;
}

/* Handle on hover */
.x_SortByJobs::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  .x_gd_form{
    padding: 15px 0px;
  }
  .x_margin_x{
    margin-bottom: 20px;
  }
  .x_gd_section{
    padding-bottom: 35px;
  }
  .x_search_posts_button{
    background: none;
    border: none;
    position: absolute;
    top: 4px;
    right: 7px;
    z-index: 2;
  }
  .x_gd_title{
    border-bottom: 1px solid #e5e5ea;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
    padding-bottom: 6px;
  }
  .x_gd_box_content{
    padding: 15px;
  }
  .x_gd_box{
    background: #ffffff;
    margin-bottom: 1.75rem;
    box-shadow: 0px 0px 5px -3px;
    padding: 5px
  }

  .x_gd_box_tittle{
    font-size: 14px;
    line-height: 22px;
    color: #333;
  }

  .x_gd_box_description{
      font-weight: 300;
      margin-bottom: .75rem;
  }
  .x_old_price{
    color: #a9a9a9;
    margin-right: 10px;
    text-decoration: line-through;
  }
  .x_gd_view_button_box{
    border-radius: 0px;
    border: 1px solid #919191;
    background: unset;
    margin-right: 4%;
    padding: 5px 5px;
    font-size: 12px;
    width: 48%;
  }
  
  .x_gd_create_button_box{
    border-radius: 0px;
    background: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    padding: 5px 5px;
    font-size: 12px;
    width: 48%;
  }

  .x_gd_view_button{
    border-radius: 0px;
    border: 1px solid #919191;
    background: unset;
    margin-right: 10px;
  }
  
  .x_gd_create_button{
    border-radius: 0px;
    background: #e67e22;
    border: 1px solid #e67e22;
    color: white;
  }
  .x_styles_price{
    margin-bottom: 10px;
  }